.course-container{
    background-color: #fff;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
}

.course-details{
    padding: 15px;
}
.course-img{
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}
/* .course-img:hover{
    transform: scale(1.1);
} */
.img-container{
    
}
.course-container:hover .course-img{
    transform: scaleY(1.1);
}

.ratings-duration{
    display: flex;
    justify-content: space-between;
}
.course-name{
    text-align: start;
    height: 86px;
    cursor: pointer;
}
.course-name:hover{
    color: #2B4EFF;
}
.cost-details{
    display: flex;
    border-top: 1px solid gray;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fastar{
    color: #FF9415;
}
.cost-details h4{
    font-size: 20px;
    color: #b128ff;
    font-weight: 600;
    padding-right: 5px;
}
.cost-details h5{
    font-size: 16px;
    color: #6d6e75;
    font-weight: 500;
}
.cost-details h5:hover{
    color: #2B4EFF;
    cursor: pointer;
    
}
.icon-color{
    font-size: 25px;
}

