.services-container{
    background-color: #F2F3F7;
}

.courses-container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px; */
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    gap: 25px;
}
.our-services{
    
}